<section class="container my-4">
  <h1 class="mb-4">Panel de Administración</h1>
  <div class="list-group">
    <a routerLink="/admin/peliculas" class="list-group-item list-group-item-action">
      Gestionar Películas
    </a>
    <a routerLink="/admin/usuarios" class="list-group-item list-group-item-action">
      Gestionar Usuarios
    </a>
    <a routerLink="/admin-actores" class="list-group-item list-group-item-action">
      Gestionar Actores
    </a>
    <a routerLink="/admin-generos" class="list-group-item list-group-item-action">
      Gestionar Géneros
    </a>
  </div>
</section>
