<section id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="assets/img/backdrops/una-pelicula-de-minecraft.webp" style="view-transition-name: backdrop-una-pelicula-de-minecraft;"
                        class="d-block w-100 img-cover opacity-25 img-mask-fade" alt="...">
                    <div class="carousel-caption d-block caption-left-center">
                        <h1 class="fw-bolder">Una Película de Minecraft</h1>
                        <p>
                            <strong>6.8</strong>
                            1h 41m - 2025
                        </p>
                        <p class="d-none d-md-block">
                            Un portal desconocido atrae a cuatro jóvenes hacia el Supramundo, un reino cúbico y mágico
                            que toma
                            forma a partir de la imaginación.
                        </p>
                        <a href="detalle/una-pelicula-de-minecraft" title="enlace a los detalles de la pelicula"
                            class="btn btn-outline-light">Ver detalles</a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/img/backdrops/the-amateur.webp" style="view-transition-name: backdrop-the-amateur;"
                        class="d-block w-100 img-cover opacity-25 img-mask-fade" alt="...">
                    <div class="carousel-caption d-block caption-left-center">
                        <h1 class="fw-bolder">El Amateur</h1>
                        <p>
                            <strong>6.7</strong>
                            2h 05m - 2025
                        </p>
                        <p class="d-none d-md-block">
                            Charlie Heller es un brillante decodificador de la CIA cuyo mundo se derrumba cuando su
                            esposa muere en un atentado terrorista en Londres.
                        </p>
                        <a href="detalle/the-amateur" title="enlace a los detalles de la pelicula"
                            class="btn btn-outline-light">Ver detalles</a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/img/backdrops/los-pecadores.webp" style="view-transition-name: backdrop-los-pecadores;"
                        class="d-block w-100 img-cover opacity-25 img-mask-fade" alt="...">
                    <div class="carousel-caption d-block caption-left-center">
                        <h1 class="fw-bolder">Los Pecadores</h1>
                        <p>
                            <strong>8.2</strong>
                            2h 17m - 2025
                        </p>
                        <p class="d-none d-md-block">
                            En un intento de dejar atrás sus problemáticas vidas, unos hermanos gemelos regresan a su
                            ciudad natal de Mississippi para comenzar de nuevo.
                        </p>
                        <a href="detalle/los-pecadores" title="enlace a los detalles de la pelicula"
                            class="btn btn-outline-light">Ver detalles</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>