<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/">NickPelis 🍿</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

        <div class="d-flex gap-2 align-items-center">
          <a routerLink="/contacto" class="btn btn-primary">Contacto</a>

          <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
            <a routerLink="/login" class="btn btn-outline-light">Login</a>
          </ng-container>

          <ng-template #loggedIn>

            <a routerLink="/favoritas" class="btn btn-danger">⭐ Favoritos</a>

            <ng-container *ngIf="authService.getUsuario()?.rol === 'admin'">
              <a routerLink="/admin/dashboard" class="btn btn-outline-light">Dashboard</a>
              <a routerLink="/admin/peliculas" class="btn btn-outline-light">Películas</a>
              <a routerLink="/admin/usuarios" class="btn btn-outline-light">Usuarios</a>
              <a routerLink="/admin-actores" class="btn btn-outline-light">Actores</a>
              <a routerLink="/admin-generos" class="btn btn-outline-light">Géneros</a>
            </ng-container>

            <!-- Menú desplegable -->
            <div class="dropdown">
              <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                ⚙️
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li>
                  <a class="dropdown-item" routerLink="/perfil">Perfil</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <button class="dropdown-item text-danger" (click)="logout()">Cerrar sesión</button>
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
</header>