.btn-favorito {
  background: #888;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #d32f2f; // rojo
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
