<section class="container peliculas-container">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
    <h2 class="m-0 mb-2 me-3">Todas las películas</h2>

    <form class="d-flex gap-3 flex-wrap align-items-end mb-4">
      <div>
        <label for="filtroGenero" class="form-label">Género</label>
        <select id="filtroGenero" class="form-select" [(ngModel)]="filtroGenero" name="filtroGenero" (change)="filtrarPeliculas()">
          <option value="">Todos</option>
          <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
        </select>
      </div>
      <div>
        <label for="filtroAnio" class="form-label">Año</label>
        <select id="filtroAnio" class="form-select" [(ngModel)]="filtroAnio" name="filtroAnio" (change)="filtrarPeliculas()">
          <option value="">Todos</option>
          <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
        </select>
      </div>
      <div>
        <label for="filtroBusqueda" class="form-label">Buscar</label>
        <input id="filtroBusqueda" type="text" class="form-control" [(ngModel)]="filtroBusqueda" name="filtroBusqueda" (input)="filtrarPeliculas()" placeholder="Buscar...">
      </div>
    </form>

    <div *ngIf="loading" class="text-center my-4">
      <div class="spinner-border" role="status"></div>
      <span class="ms-2">Cargando...</span>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">

    <div class="d-flex gap-2 align-items-center mb-2">
    <label for="ordenCampo" class="form-label m-0">Ordenar por:</label>
    <select id="ordenCampo" class="form-select" [(ngModel)]="ordenCampo" name="ordenCampo" (change)="filtrarPeliculas()">
      <option value="anio">Año</option>
      <option value="nombre">Nombre</option>
      <option value="puntuacion">Puntuación</option>
    </select>

    <select id="ordenDir" class="form-select" [(ngModel)]="ordenDir" name="ordenDir" (change)="filtrarPeliculas()">
      <option value="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>

  <div class="d-flex gap-2 align-items-center mb-2">
    <span class="me-3">Total de peliculas: {{ totalItems}}</span>
    <button class="btn btn-outline-primary" [disabled]="paginaActual === 1" (click)="paginaAnterior()">« Anterior</button>
    <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <button class="btn btn-outline-primary" [disabled]="paginaActual === totalPaginas" (click)="paginaSiguiente()">Siguiente »</button>
  </div>
</div>


  <div class="row">
    <div *ngFor="let pelicula of peliculas" class="col-md-3 mb-4">
      <a [routerLink]="['/detalle', pelicula.id_pelicula]" class="text-decoration-none text-reset">
      <div class="card h-100">
        <img [src]="pelicula.poster_url" class="card-img-top" [alt]="pelicula.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ pelicula.nombre }}</h5>
          <p class="card-text">
            <strong>Géneros: </strong><span class="generos">{{ pelicula.generos.join(', ') }}</span>
            <br>
            <strong>Año:</strong> {{ pelicula.anio }}
          </p>
          <a [routerLink]="['/detalle', pelicula.id_pelicula]" class="btn btn-primary">Ver detalle</a>
        </div>
      </div>
      </a>
    </div>
  </div>
</section>
