<section class="container" id="comentarios">
            <div class="d-flex gap-2 align-items-center p-3 my-3 text-white text-bg-primary rounded">
                <i class="bi bi-box2-heart fs-4"></i>
                <h3 class="m-0">Comentarios</h3>
            </div>
            <div class="my-3 p-3 bg-body rounded">
                <div class="my-3 p-3 bg-body rounded" id="comentarios-container">
                    <app-comentario 
                        *ngFor="let c of comentarios"
                        [nombre]="c.nombre"
                        [calificacion]="c.calificacion"
                        [fecha]="c.fecha"
                        [comentario]="c.texto"
                    />
                </div>
                <form id="form-comentario" [formGroup]="comentarioForm" (submit)="agregarComentario()" class="p-3">
                    <div>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre" required />
                    </div>
                    <div class="mb-3">
                        <label for="Calificacion" class="form-label">Calificación (1-10)</label>
                        <input type="number" class="form-control" id="calificacion" formControlName="calificacion" min="1.0"
                            max="10.0" step="0.1" required>
                    </div>
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <textarea class="form-control" id="comentario" formControlName="texto" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </section>

