<section class="container" id="comentarios">
  <div class="d-flex gap-2 align-items-center p-3 my-3 text-white text-bg-primary rounded">
    <i class="bi bi-box2-heart fs-4"></i>
    <h3 class="m-0">Comentarios</h3>
  </div>

  <div class="my-3 p-3 bg-body rounded" id="comentarios-container">
    <app-comentario 
      *ngFor="let c of comentarios"
      [calificacion]="c.calificacion"
      [contenido]="c.contenido"
      [fecha_comentario]="c.fecha_comentario ?? ''"
      [usuario]="c.usuario ?? ''">
    </app-comentario>
  </div>

  <form id="form-comentario" [formGroup]="comentarioForm" (ngSubmit)="agregarComentario()" class="p-3">
    <div *ngIf="!usuarioAutenticado" class="alert alert-warning">
      Debes iniciar sesión para agregar un comentario.
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div class="mb-3">
      <label for="contenido" class="form-label">Comentario</label>
      <textarea class="form-control"
                id="contenido"
                formControlName="contenido"
                rows="3"
                required
                [ngClass]="{'is-invalid': comentarioForm.get('contenido')?.invalid && comentarioForm.get('contenido')?.touched}">
      </textarea>
      <div *ngIf="comentarioForm.get('contenido')?.invalid && comentarioForm.get('contenido')?.touched" class="invalid-feedback">
        El comentario es requerido y debe tener al menos 5 caracteres.
      </div>
    </div>
    <div class="mb-3">
      <label for="calificacion" class="form-label">Calificación (1-10)</label>
      <input type="number"
            class="form-control"
            id="calificacion"
            formControlName="calificacion"
            min="1"
            max="10"
            step="0.1"
            required
            [ngClass]="{'is-invalid': comentarioForm.get('calificacion')?.invalid && comentarioForm.get('calificacion')?.touched}">
      <div *ngIf="comentarioForm.get('calificacion')?.invalid && comentarioForm.get('calificacion')?.touched" class="invalid-feedback">
        La calificación debe estar entre 1 y 10.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!usuarioAutenticado">Enviar</button>
  </form>
</section>
