<section *ngIf="pelicula" class="position-relative overflow-hidden pelicula-detalle">
  <img [src]="pelicula.banner_url"
       alt="{{pelicula.nombre}} backdrop"
       class="w-100 h-100 img-cover opacity-25 img-mask-fade position-absolute top-0 start-0 z-n1" />
  <div class="container d-flex gap-4 py-4">
    <div>
      <img [src]="pelicula.poster_url"
           [alt]="pelicula.nombre + ' poster'"
           width="200" />
    </div>
    <div>
      <h3>{{ pelicula.nombre }}</h3>
      <p>
        <strong>{{ pelicula.puntuacion }}</strong>
        <span *ngIf="pelicula.duracion"> - {{ pelicula.duracion }} min</span> - <span>{{ pelicula.anio }}</span>
      </p>
      <p>{{ pelicula.sinopsis }}</p>

      <p *ngIf="pelicula.generos.length > 0">
        <strong>Género:</strong>
        <span *ngFor="let genero of pelicula.generos; let last = last">
          {{ genero.nombre }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p *ngIf="pelicula.actores.length > 0">
        <strong>Actores:</strong>
        <span *ngFor="let actor of pelicula.actores; let last = last">
          {{ actor.nombre }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <app-boton-favoritas [peliculaId]="idPelicula"></app-boton-favoritas>
    </div>
  </div>
</section>
