<section *ngIf="pelicula as peli" class="position-relative overflow-hidden pelicula-detalle">
  <img [src]="pelicula.banner_url"
       alt="{{pelicula.nombre}} backdrop"
       class="w-100 h-100 img-cover opacity-25 img-mask-fade position-absolute top-0 start-0 z-n1" />
  <div class="container d-flex gap-4 py-4">
    <div>
      <img [src]="peli.poster_url"
           [alt]="peli.nombre + ' poster'"
           width="200" />
    </div>
    <div>
      <h3>{{ peli.nombre }}</h3>
      <p>
        <strong>{{ peli.puntuacion }}</strong>
        <span *ngIf="peli.duracion"> - {{ peli.duracion }} min</span> - <span>{{ peli.anio }}</span>
      </p>
      <p>{{ peli.sinopsis }}</p>

      <p *ngIf="peli.generos.length > 0">
        <strong>Género:</strong> {{ peli.generos.join(', ') }}
      </p>
      <p *ngIf="peli.actores.length > 0">
        <strong>Actores:</strong> {{ peli.actores.join(', ') }}
      </p>
    </div>
  </div>
</section>
